* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: monospace;
}

@media(max-width: 700px){
header {
	width: 100%;
	height: 7vh;
	border-bottom: 2px solid #f0f0f0;


}
.header-container {
	width: 100%;
	padding: 0 1vh;
	margin: auto;
	display: flex;
	align-items: center;
	z-index: 10;
	position: fixed;
	background-color: rgba(52, 255, 25, 1);
}
#prof-pict {
	border-radius: 50%;
	width: 30px;
	height: auto;
	float: left;
	line-height: 7vh;
	margin-right: 10px;

}
.header-container h1 {
	font-size: 20px;
	line-height: 7vh;
}
#user_id {
	font-size: 5vw;
}
.app {
	padding-top: 20px;

}
.app-container {
	width: 90%;
	margin: auto;
}
.app-container h1 {
	font-size: 5vw;
}
.overflow {
	display: flex;
	flex-direction: row;
	height: 55vh;
	overflow: scroll hidden;
}
.cards {
	width: 23vh;
	height: 50vh;
	background-color: rgba(110, 255, 102,0.5);
	border-radius: 10px;
	margin: 3vw;
	padding: 10px;
}
.cards img{
	width: inherit;
	height: auto;
	
}
.cards p {
	padding: 5px 10px;
}
.cards input {
	margin: 5px 10px;
}
.cards hr {
	margin-top: 10px;
}
.title {
	font-size: 4vw;
	font-weight: bold;
}
footer {
	margin-top: 2vh;
	padding: 3vh;
}
footer h1 {
	font-size: 7vw;
}
.btn {
	font-size: 4vw;
	padding: 10px;
	background-color: rgba(54, 255, 43, 0.6);
	margin-top: 5px;
}
#hitung-total {
	height: 3vh;
}
footer a{
	padding-top: 10px;
}
}








